body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

#login-section, #product-section {
    padding: 20px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  @keyframes fly-down {
    0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
    }
  
    5% {
      opacity: 1;
      transform: translateY(1.5rem) scale(0.4);
    }
  
    10%, 100% {
      opacity: 0;
      transform: translateY(3rem) scale(0.2);
    }
  }
  

button:hover {
    background-color: #4500b5;
}

#product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px auto;
}

#products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(33.333% - 20px);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product p {
    margin: 10px 0;
}
